@import url('https://fonts.googleapis.com/css?family=Molle:400i|Ubuntu');

body {
	font-family: 'Ubuntu', sans-serif;
	background-image: url("http://images.wisegeek.com/quotation-marks-against-chalky-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.container {
	margin-top: 200px;
	margin-left: 150px;
	text-align: center;
	color: white;
}

.box {
}

.trigger, .tweet {
	margin-right: 20px;
	margin-top: 20px;
}


.quote {
	font-family: 'Molle', cursive;
	font-family: ;
}

h1 {
	opacity: 0.8;
}